/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 13, 2015, 4:07:04 PM
    Author     : hilel
*/

#main-panel {
    width: 800px;
    height: 600px;
    margin: auto;
}

#edit-panel, #contacts-panel {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 40px;
    overflow: auto;
    box-shadow: 10px 10px 5px #888888;
}

#status-message {
    font-style: italic;
    font-weight: bold;
}

table {
    width: 95%;
}

td,th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    text-align: left;
}

#total-contacts {
    text-align: center;
}

.formLayout {
    width: 95%;
}

.formLayout label {
    display: block;
    width: 100px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formLayout input {
    display: block;
    width: 600px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
