/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2015, 4:07:04 PM
    Author     : hilel
*/

td,th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    text-align: left;
}

/* 
tfoot,thead {
    background-color: lightgray; 
}
*/

#total-contacts {
    text-align: center;
}

.formLayout {
    /*
    padding: 10px;
    border: solid 1px #a1a1a1;
    background-color: #f3f3f3;
    */
    width: 640px;
    height: 480px;
}

.formLayout label, .formLayout input {
    display: block;
    float: left;
    margin-bottom: 3px;
}

.formLayout label {    
    width: 100px;    
}

.formLayout input {
    width: 500px;
}

/*
br {
    clear: left;
}
*/